.App {
  text-align: center;
  color: #DDD;
  
}

.App-link {
  color: #61dafb;
}

.cards-wrapper{
  margin: 15px 5%;
  display: flex;
  justify-content: center;
}

.footer{
  padding-bottom: 15px;
}
