.App {
  text-align: center;
  color: #EEE;
}

.App-link {
  color: #61dafb;
}

.cards-wrapper{
  display: flex;
  margin: 15px 5%;
  justify-content: center;
  flex-wrap: wrap;
}

.footer{
  padding-bottom: 15px;
}
